@import "../../../styles/vars";
.wrapper{
    background-color:  black;
    height: 100vh;
}
.light{
   
    background-color: $light-bg-color;
    color: $light-primary-text-color;
    border-color: $light-border-color;
    
}
.dark{
    background-color: $dark-bg-color;
    color: $dark-primary-text-color;
    border-color: $dark-border-color;
}