// backgrounds
$bg-color: #000000;
$secondary-bg-color: #1E1E1E;
// text colors
$primary-text-color:#FFFFFF;
$secondary-text-color:#7A7A7A;
// accent colors
$accent-color:#3AC250;
// border color
$border-color:#151515;

// font
