
    .switch{
        transform: scale(1.3);
        .leftSideIcon{
            height: 15px;
            width: 15px;
            transform: translateY(3.5px);
        }
        .rightSideIcon{
            height: 15px;
            width: 15px;
            transform: translateY(3.5px);
        }
    }
