html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: var(--text-color);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  all: unset; /* Resets all inherited styles */
  display: inline-block;
  font: inherit; /* Inherits font properties from parent */
  color: inherit; /* Inherits text color from parent */
  background: none; /* Removes background */
  border: none; /* Removes border */
  padding: 0; /* Removes padding */
  margin: 0; /* Removes margin */
  text-align: center; /* Centers text */
  text-decoration: none; /* Removes text decoration */
  cursor: pointer; /* Adds pointer cursor */
  -webkit-appearance: none; /* Removes default button styling in Webkit browsers */
  -moz-appearance: none; /* Removes default button styling in Firefox */
  -webkit-tap-highlight-color: transparent; /* Removes tap highlight color on mobile */
}

button:focus {
  outline: none; /* Removes default focus outline */
}
