.authForm{
    background-color: var(--bg-color);
    height: 500px;
    width: 80%;
    border-radius: 20px;
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    .movable{
        position: absolute;
        width: 50%;
        height: 92%;
        background-image: url("https://img.freepik.com/premium-photo/modern-modern-desktop-background-flat-designs-hd-wallpaper-hd-wallpaper-47_910325-5858.jpg");
        border-radius: 15px;
        display: flex;
        justify-content: right;
        align-items: end;
        left: 20px;
        transition: all .4s ease-in-out;
        p{
            color: var(--text-color);
            font-size: 3.3rem;
            font-weight: 700;
            margin-top: 20px;
            margin: 10px 20px;
            text-align: right;
            text-transform: uppercase;
        }
    }
    .right{
        left: calc(50% - 20px);        
    }
   
}
@media screen and (max-width: 768px){
    .movable{
        display: none!important;
    }
    .disabled{
        display: none!important;
    }
} 