.wrapper{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: scroll;
    h3{
        margin-top: 20px;
        font-weight: 400;
        font-size: 2rem;
    }
    .form{
        width: 60%;
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        input{
            margin-top: 5px;
        }
        .registerButton{
            width: 80%;
            margin: 20px auto 0 auto;
        }
        
    }
    .loginLink{
        color:var(--accent-color);

        &:hover{
            color: var(--accent-color) !important;    
        }
    }
}
@media screen and (max-width: 768px){
    .wrapper{
        width: 100%;
        .form{
            width:80%;
        }
    }
}