@import "../../../app/styles/vars";
.wrapper{
    height: 80px;
    background-color: $bg-color;
    color: $primary-text-color;
    border-bottom: 3px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}