.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    .background{
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-image: url("https://img.freepik.com/premium-photo/modern-modern-desktop-background-flat-designs-hd-wallpaper-hd-wallpaper-47_910325-5858.jpg");
        background-size: cover;
        background-position: center;
        z-index: 0;
        filter: blur(10px);
    }
}